:root {
  --primary-font: "Roboto", sans-serif;
  --second-primary-font: "Raleway", sans-serif;
  --primary-color: #a1c487;
  --secondary-color: #2e2f42;
  --white-color: #ffffff;
  --gray-background-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --active-accent-background-color: #404bbf;
  --gray-color: #8e8f99;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}

.container {
  min-width: 1140px;
  max-width: 428px;
  padding: 0 32px;
  margin: 0 auto;
}
