/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
.container {
  max-width: 1215px;
}

.container {
  min-width: 320px;
  max-width: 428px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1215px) {
  .container {
    width: 1215px;
    max-width: 100%;
    padding: 0 32px;
    margin: 0 auto;
  }
}
